personal_gym_tracker_CLEAN.json
{
  "name": "personal gym tracker",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -32
      ],
      "id": "eb5ee442-313a-420a-a494-af87bb33028c",
      "name": "Mamae fitness bot",
      "webhookId": "00f50aea-50b7-45b7-b506-1ca8432cc128",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user message : {{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "Kamu adalah bot fitness tracker yang ngebantu aku buat ngambil data personal fitness dari banyak latihan yang aku lakukan dari google sheets, data bisa berupa beban di latihan tersebut dan repetisinya, selain itu anda juga bisa untuk menambahkan atau mengupdate data berupa beban dan repetisi ke dalam google sheets, jadi tugas anda adalah menganalisis user message pengguna dan lakukan tugas sesuai perintah yang diminta jika user meminta data untuk exercise tertentu maka ambil datanya di google sheets analisis dulu exercise yang aku minta tuh bagian body type apa terus masuk ke filtered body type lalu masuk lagi ke filtered exercise name  dan ambil repetisi dan bebannya. jika user meminta untuk menambahkan atau mengupdata data maka update or append row di google sheets, \n- jika exercise name sudah ada di google sheets berarti update aja data beban dan repetisinya gausah tambahin data baru.\n\n-tambahan aturan\njika user ingin menambahkan latihan maka tambahkan ke dalam google sheets melalui analisis anda exercisenya buat body type apa  lalu tambahin ke kolom body type dan tambahkan exercise namenya ke kolom exercise name\n\n-output:\njika tugas sudah dilakukan sesuai perintah user \nmaka kirimkan pesan balik ke user secara professional misalnya \"data untuk exercise bench press untuk body type chest adalah ......\" dan \"berhasil menambahkan/mengupdate data exercise rowing ke google sheet menjadi ....\", \n-jangan berikan kata /saran tambahan"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -32
      ],
      "id": "4860d28c-e3aa-4a38-b7ea-db2c828a6f66",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        176
      ],
      "id": "8a8ea761-f999-4562-ad63-d0f9f4d63444",
      "name": "OpenAI Chat Model",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "e4d4d27b-3499-43cb-8421-62b5d02243f9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hdvaGvZe3F6lySBU_QC-oNltT_MQoqPPmeiF84_9E7w",
          "mode": "list",
          "cachedResultName": "data gym valen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hdvaGvZe3F6lySBU_QC-oNltT_MQoqPPmeiF84_9E7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hdvaGvZe3F6lySBU_QC-oNltT_MQoqPPmeiF84_9E7w/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "body type",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            },
            {
              "lookupColumn": "exercise name",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        304,
        144
      ],
      "id": "a8a75efe-1904-417c-b13a-92f65b2716c4",
      "name": "get data from google sheets",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1hdvaGvZe3F6lySBU_QC-oNltT_MQoqPPmeiF84_9E7w",
          "mode": "list",
          "cachedResultName": "data gym valen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hdvaGvZe3F6lySBU_QC-oNltT_MQoqPPmeiF84_9E7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hdvaGvZe3F6lySBU_QC-oNltT_MQoqPPmeiF84_9E7w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "body type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('body_type', ``, 'string') }}",
            "exercise name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('exercise_name', ``, 'string') }}",
            "reps pertama": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reps_pertama', ``, 'string') }}",
            "weight": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('weight', ``, 'string') }}"
          },
          "matchingColumns": [
            "exercise name"
          ],
          "schema": [
            {
              "id": "body type",
              "displayName": "body type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "exercise name",
              "displayName": "exercise name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reps pertama",
              "displayName": "reps pertama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        176,
        192
      ],
      "id": "5508748f-8914-4a7b-91d1-8a6c652a45f1",
      "name": "menambahkan exercise/data reps dan berat ke dalam google sheets",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Mamae fitness bot').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -32
      ],
      "id": "b27411fd-c00f-4757-a3d4-ef36a6468783",
      "name": "Send a text message",
      "webhookId": "0b9242d2-b4d2-4995-b14a-fce0b2fcea2d",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Mamae fitness bot": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "get data from google sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "menambahkan exercise/data reps dan berat ke dalam google sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d727dd2-bac8-4a0a-ba72-5e30ef91b366",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4332c9bfc365cf11a702c84ec4704879e9022a2b441b07243d0e6e7e0a55123e"
  },
  "id": "xniPTC5D9XpkmfDa",
  "tags": []
}